* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

.navbar #active {
    color: rgb(236, 77, 77);
    ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar a img {
    width: 10rem;
    padding: 0;
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: #000000;
    text-align: center;
    margin: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.nav-links .elnav {
    margin-top: 0.8rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.nav-links .left {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0.8rem;
}

.nav-links a:hover {
    color: rgb(236, 77, 77);
    font-weight: 1000;
}

.hamburger {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.line {
    width: 30px;
    height: 4px;
    background-color: #000;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    .nav-links a {
        margin: 10px;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        padding: 10px;
    }
}

@media only screen and (min-width: 769px) {
    .hamburger {
        display: none;
    }
}

.intro {
    background: linear-gradient(to left, #333399, #FF00CC);
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    margin-top: 8rem;
    font-family: 'Saira Condensed', sans-serif;
    z-index: 0;
}

.intro h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
}

.intro p {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.custom-file-input {
    position: relative;
    display: inline-block;
    margin: 3rem;
}

.custom-text {
    display: inline-block;
    padding: 1rem;
    color: white;
    background-color: #2196F3;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 4rem;
    padding: 1.8rem;
}

.custom-text:hover {
    background-color: #0077c1;
}

#fileInput {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  #previewBox{
    justify-content: center;
  }

  #previewBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  #previewBox embed {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    cursor: grab;
  }
  
  #previewBox embed:active {
    cursor: grabbing;
  }
  
  #previewBox .sortable-ghost {
    opacity: 0.5;
  }

  .radio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .radio-buttons input[type="radio"] {
    display: none;
  }
  
  .radio-buttons label {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    border: 2px solid #555;
    border-radius: 10px;
    font-size: 20px;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .radio-buttons label:hover {
    background-color: #555;
    color: white;
  }
  
  .radio-buttons input[type="radio"]:checked + label {
    background-color: #555;
    color: white;
  }
  
  .radio-buttons input[type="radio"]:focus + label {
    outline: none;
    box-shadow: 0 0 5px #555;
  }

  .input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .input-fields label {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    color: #555;
  }
  
  .input-fields input[type="text"] {
    padding: 10px;
    border: 2px solid #555;
    border-radius: 10px;
    font-size: 20px;
    color: #555;
    width: 300px;
    transition: all 0.3s ease;
  }
  
  .input-fields input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #555;
  }
  
  .range-input {
    display: block;
  }
  
  .pages-input {
    display: none;
  }
  
  .pages-label {
    display: none;
  }
  
  .range-label {
    display: inline-block;
  }
  
  .submit{
    display: inline-block;
    padding: 1rem;
    color: white;
    background-color: #2196F3;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    padding: 1.8rem;
    margin-bottom: 5rem;
  }

  .submit:hover {
    background-color: #0077c1;
}