* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}


/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .navbar a img {
    width: 10rem;
    padding: 0;
    margin: 0;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links a {
    color: #000000;
    text-align: center;
    margin: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .nav-links .elnav {
    margin-top: 0.8rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .nav-links .left {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0.8rem;
  }
  
  .nav-links a:hover {
    color: rgb(236, 77, 77);
    font-weight: 1000;
  }
  
  .hamburger {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  
  .line {
    width: 30px;
    height: 4px;
    background-color: #000;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
  }
  
  /* Media queries */
  @media only screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }
  
    .nav-links a {
      margin: 10px;
    }
  
    .hamburger {
      display: block;
    }
  
    .navbar {
      padding: 10px;
    }
  }
  
  @media only screen and (min-width: 769px) {
    .hamburger {
      display: none;
    }
  }
  

/* start */
/* nav ul {
    width: 100%;
    margin: 0;
    position: fixed;
    display: flex;
    background-color: rgb(255, 255, 255);
}

ul li {
    list-style: none;
    margin: 20px;
}

nav a img {
    width: 10rem;
    padding: 0;
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: #ffffff;
    height: 1rem;
}

nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center; */
/* margin: 1.4rem 1.6rem; */
/* text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

nav .elnav {
    margin-top: 0.8rem;
    margin-left: 3rem;
    margin-right: 3rem;
    float: left;
}

nav .left {
    margin-left: 3rem;
    margin-right: 3rem;
    float: right;
    margin-top: 0.8rem;
}

nav a:hover {
    color: rgb(236, 77, 77);
} */
/* end */
/* .navbar {
    overflow: hidden;
    background-color: #ffffff;
}

.navbar ul {
    position: fixed;
}

.navbar a img {
    width: 15rem;
    padding: 0;
    margin: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    margin: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navbar .elnav {
    margin-top: 1.8rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.navbar .left {
    margin-top: 1.8rem;
    margin-left: 3rem;
    margin-right: 3rem;
    float: right;
}

.navbar a:hover {
    color: rgb(236, 77, 77);
    font-weight: 1000;
} */

/* .intro button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.intro button:hover {
    background-color: #3e8e41;
} */

.intro {
    background: linear-gradient(to left, #333399, #FF00CC);
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    margin-top: 8rem;
    font-family: 'Saira Condensed', sans-serif;
    z-index: 0;
}

.intro h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
}

.intro p {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

section {
    background-color: #d8d5d2;
    z-index: 999;
}

section .block {
    /* border: 0.8rem solid black; */
    margin-right: 15.559rem;
    margin-left: 15.559rem;

    background-color: #ffffff;
    /* background-image: linear-gradient(135deg, #EEAD92 30%, #6018DC 100%); */
    z-index: 1;
}

.block div h3 {
    font-size: 2.5rem;
    font-family: 'Genos', sans-serif;
    color: #000000;
}

.block div .tooldata {
    font-size: 1.8rem;
    /* font-family: 'Nixie One', cursive; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: justify;
    color: #000000;
}

.block .b1 {
    margin: 0rem 0rem 0rem 0rem;
    width: 25rem;
    display: inline-block;
    padding: 2.5rem;
    height: 18rem;
}

.block .b1:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
    cursor: pointer;
}

.block .b2 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b2:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b3 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b3:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b4 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b4:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b5 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b5:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b6 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b6:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b7 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;
}

.block .b7:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}


.block .b8 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b8:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b9 {
    margin: 0rem 0rem 0rem 0rem;
    width: 25rem;
    display: inline-block;
    padding: 2.5rem;
    height: 18rem;
}

.block .b9:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
    cursor: pointer;
}

.block .b10 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b10:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b11 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b11:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b12 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b12:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b13 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b13:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b14 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b14:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b15 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b15:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}


.block .b16 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b16:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b17 {
    margin: 0rem 0rem 0rem 0rem;
    width: 25rem;
    display: inline-block;
    padding: 2.5rem;
    height: 18rem;
}

.block .b17:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
    cursor: pointer;
}

.block .b18 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b18:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b19 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b19:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b20 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b20:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b21 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b21:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b22 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b22:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.block .b23 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b23:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}


.block .b24 {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.5rem;
    height: 18rem;
    width: 25rem;
    display: inline-block;

}

.block .b24:hover {
    background-color: #f3f0ec;
    border-color: #f3f0ec;
    text-transform: capitalize;
}

.formc {
    background: linear-gradient(to left, #333399, #FF00CC);
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Saira Condensed', sans-serif;
    z-index: 0;
}

.formc h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
}

.formc p {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.cont {
    background: linear-gradient(to left, #333399, #FF00CC);
}

.cont h3 {
    font-size: 2.5rem;
    background-color: #d8d5d2;
    text-align: center;
    margin-top: -2rem;
    padding: 2rem;
}

footer {
    background: black;
    padding: 2rem 2.3rem;
    color: white;
    text-align: center;
    font-size: 1.9rem;
}

footer span a {
    color: crimson;

}

footer span a:hover {
    text-decoration: underline;
}

footer .insta a {
    color: white;
    font-size: 2rem;
    position: center;
}

footer .insta a:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {
    nav li {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 1rem;
    }

    .intro h1 {
        font-size: 2.8rem;
    }

    .intro p {
        font-size: 1.6rem;
    }

    .intro button {
        padding: 0.8rem 1.6rem;
        font-size: 1.6rem;
    }
}
